<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529731801742-2vq91iudhpasqslf61m2hsq15vruudgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529731801742-2vq91iudhpasqslf61m2hsq15vruudgb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>529731801742-1nutav7bditmskrb938d98imvl3sov46.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNsxL6OoWPdFsVGz5yX-tCAvmFTBoEw-8</string>
	<key>GCM_SENDER_ID</key>
	<string>529731801742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bhive.proofit</string>
	<key>PROJECT_ID</key>
	<string>proofit-74bdb</string>
	<key>STORAGE_BUCKET</key>
	<string>proofit-74bdb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529731801742:ios:4191d5ee5c5fbc66df2fdf</string>
</dict>
</plist>